@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  overflow-x: hidden;
  background: #FFF6F0;
}

h1,
h2,
h3,
h,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}


/* scrollber */
::-webkit-scrollbar {
  display: none;
}



@layer utilities {


  .red-light-bg {
    background: #FFF6F0;
  }
}